body {
    height: auto;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0 20px;
}

header nav ul {
    list-style: none;y
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}   

main {
    width: 100%; /* Lebar penuh */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero {
    width: 100%; /* Lebar penuh */
    background-color: #f0f0f0;
    text-align: center;
    padding: 0px 20px;
}

.hero img {
    width: 50%;
    height: auto;
}

.grid {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background-color: #f70505;
    padding: 10px;
    margin: 0px 10px;
    width: 30%;
    box-sizing: border-box;
}



@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}